<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--【鸣】网查。为了看哪里错了，配置完成后，在 IDE 的控制台下可以看到程序运行过程中的 SQL，参数，返回结果等，-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--分页插件-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"/>
    </plugins>
</configuration>
