<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ackerley.library.modules.priorBookCircu.repository.PurOrderMapper">

    <sql id="purOrderColumns">
        id, name, creator_id, creation_time, inbound_reviewer_id, inbound_review_time, order_state, remarks
    </sql>

    <sql id="purOrderWithItemsColumns">
        po.id AS po_id,
        po.name AS po_name,
        po.creator_id AS po_creator_id,
        po.creation_time AS po_creation_time,
        po.inbound_reviewer_id AS po_inbound_reviewer_id,
        po.inbound_review_time AS po_inbound_review_time,
        po.order_state AS po_order_state,
        po.remarks AS po_remarks,
        poi.id AS poi_id,
        poi.pur_order_id AS poi_pur_order_id,
        poi.isbn13 AS poi_isbn13,
        poi.order_quantity AS poi_order_quantity,
        poi.inbound_quantity AS poi_inbound_quantity,
        poi.remarks AS poi_remarks
    </sql>

    <resultMap id="purOrderResult" type="PBCPurOrder">
        <id column="id" property="ID"/>
        <result column="name" property="name"/>
        <result column="creator_id" property="creatorID"/>
        <result column="creation_time" property="creationTime"/>
        <result column="inbound_reviewer_id" property="inboundReviewerID"/>
        <result column="inbound_review_time" property="inboundTime"/>
        <result column="order_state" property="orderState"/>
        <result column="remarks" property="remarks"/>
    </resultMap>

    <resultMap id="purOrderWithItemsResult" type="PBCPurOrder">
        <id column="po_id" property="ID"/>
        <result column="po_name" property="name"/>
        <result column="po_creator_id" property="creatorID"/>
        <result column="po_creation_time" property="creationTime" javaType="java.sql.Timestamp"/>
        <result column="po_inbound_reviewer_id" property="inboundReviewerID"/>
        <result column="po_inbound_review_time" property="inboundTime" javaType="java.sql.Timestamp"/>
        <result column="po_order_state" property="orderState"/>
        <result column="po_remarks" property="remarks"/>
        <collection property="list" ofType="PBCPurOrderItem"><!--【鸣】ofType 是 necessary 的...-->
            <id column="poi_id" property="ID"/>
            <result column="poi_pur_order_id" property="purOrderID"/>
            <result column="poi_isbn13" property="ISBN13"/>
            <result column="poi_order_quantity" property="orderQty"/>
            <result column="poi_inbound_quantity" property="inboundQty"/>
            <result column="poi_remarks" property="remarks"/>
        </collection>
    </resultMap>

    <insert id="createOne" parameterType="PBCPurOrder">
        INSERT INTO prior_circu_pur_order (
        <include refid="purOrderColumns"/>
        )
        VALUES ( #{ID}, #{name}, #{creatorID}, #{creationTime}, #{inboundReviewerID}, #{inboundTime}, #{orderState}, #{remarks} )
    </insert>

    <!--【扣】此条select，对应两个不同形参版本的mapper interface method的？！对应parameterType的有意省略？！-->
    <select id="retrieveOneByID" resultMap="purOrderResult"><!--【扣】parameterType的有意省略？！模糊性？！-->
        SELECT
        <include refid="purOrderColumns"/>
        FROM prior_circu_pur_order
        WHERE id = #{ID}
        <!--       AND del_flag != #{DEL_FLAG_DELETED}    --><!--【鸣】体会一下：retrieveList时，凭del_flag筛选，出；这里不使用del_flag筛选，也正好适应了string版本parameterType，不存在DEL_FLAG_DELETED-->
    </select>

    <!--【扣】此条select，对应两个不同形参版本的mapper interface method的？！对应parameterType的有意省略？！-->
    <select id="retrieveOneWithItemsByID" resultMap="purOrderWithItemsResult"><!--【扣】parameterType的有意省略？！模糊性？！-->
        SELECT
        <include refid="purOrderWithItemsColumns"/>
        FROM prior_circu_pur_order AS po
        INNER JOIN prior_circu_pur_order_item AS poi
        ON po.id = poi.pur_order_id
        WHERE po.id = #{ID}
        <!--       AND del_flag != #{DEL_FLAG_DELETED}    --><!--【鸣】体会一下：retrieveList时，凭del_flag筛选，出；这里不使用del_flag筛选，也正好适应了string版本parameterType，不存在DEL_FLAG_DELETED-->
    </select>

    <select id="retrieveList" parameterType="PBCPurOrder" resultMap="purOrderResult">
        SELECT
        <include refid="purOrderColumns"/>
        FROM prior_circu_pur_order
        WHERE del_flag != #{DEL_FLAG_DELETED}
        <if test="name != null and name != ''">AND name LIKE CONCAT("%", #{name}, "%") </if><!--【扣】<if>的test属性中对对象field的引用为何可以不用${}?test属性的语境天生就是Java语境？-->
        <if test="creatorID != null and creatorID != ''">AND creator_id = #{creatorID} </if>
        <if test="creationTimeRangeFilter != null">AND creation_time BETWEEN #{creationTimeRangeFilter.from} AND #{creationTimeRangeFilter.to} </if>
        <if test="inboundReviewerID != null and inboundReviewerID != ''">AND inbound_reviewer_id = #{inboundReviewerID} </if>
        <if test="inboundTimeRangeFilter != null">AND inbound_review_time BETWEEN #{inboundTimeRangeFilter.from} AND #{inboundTimeRangeFilter.to} </if>
        <if test="orderState != null and orderState != ''">AND order_state = #{orderState} </if>
    </select>



    <update id="updateNonBlankByID" parameterType="PBCPurOrder"><!--代表过去/历史，似乎逻辑上 行为记录 无需update操作？-->
        UPDATE prior_circu_pur_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''"> name = #{name}, </if>
            <if test="creatorID != null and creatorID != ''"> creator_id = #{creatorID}, </if>
            <if test="creationTime != null"> creation_time = #{creationTime}, </if>
            <if test="inboundReviewerID != null and inboundReviewerID != ''"> inbound_reviewer_id = #{inboundReviewerID}, </if>
            <if test="inboundTime != null"> inbound_review_time = #{inboundTime}, </if>
            <if test="orderState != null and orderState != ''"> order_state = #{orderState}, </if>
            <if test="remarks != null and remarks != ''"> remarks = #{remarks}, </if>
        </trim>
        WHERE id = #{ID}
    </update>

    <update id="updateOneByID" parameterType="PBCPurOrder"><!--代表过去/历史，似乎逻辑上 行为记录 无需update操作？-->
        UPDATE prior_circu_pur_order
        SET
            name = #{name},
            creator_id = #{creatorID},
            creation_time = #{creationTime},
            inbound_reviewer_id = #{inboundReviewerID},
            inbound_review_time = #{inboundTime},
            order_state = #{orderState},
            remarks = #{remarks}
        WHERE id = #{ID}
    </update>

    <update id="deleteOneByID" parameterType="PBCPurOrder">
        UPDATE prior_circu_pur_order
        SET del_flag = #{DEL_FLAG_DELETED}
        WHERE id = #{ID}
    </update>
</mapper>